<?xml version="1.0" encoding="UTF-8"?>
<!--其中-//mybatis.org//DTD Config 3.0//EN代表publicId,而http://mybatis.org/dtd/mybatis-3-config.dtd代表的是systemId -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/drnjk?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="anan1215"/>
            </dataSource>
        </environment>
    </environments>
</configuration>